.2_3 { 
	overflow:hidden;
}.e2_3 { 
	width:684.3965454101562px;
	height:133.6403045654297px;
	position:absolute;
}.e2_108 { 
	background-color:rgba(210.71811854839325, 193.7201562523842, 133.45479726791382, 1);
	width:547px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}.2_108 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_7 { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:660.3289184570312px;
	height:132.56887817382812px;
	position:absolute;
	left:24.06760597229004px;
	top:1.0714285373687744px;
	font-family:Koh Santepheap;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}.e2_2 { 
	color:rgba(43.90562184154987, 9.512884542346, 9.512884542346, 0.4099999964237213);
	width:484px;
	height:90px;
	position:absolute;
	left:28px;
	top:2px;
	font-family:Koh Santepheap;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}