<!DOCTYPE html>
<html>

<head>
    <title>Green-to-White Circular Gradient Backdrop with Image</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <h1>O.J Berry</h1>
    <h2>2023 season statistics</h2>
    <h3 id="stats"></h3>

    <img src="static/grouped2.png" alt="Image">

    <!-- <div class="container">
        <div>
            <div class="plot" id="plot"></div>
        </div>
    </div> -->

    <script>
        {% block script %}
        const stats = document.getElementById('stats');
        stats.innerHTML = "{{ ppg }} PPG | {{ppg}} FG% | {{ppg}} APG | {{ppg}} RPG";

        const plotDiv = document.getElementById('plot');
        plotDiv.innerHTML = "{{ plot_div|safe }}";
        {% endblock %}
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>