<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Koh+Santepheap&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class="e2_3">
    <div class="e2_108"></div><span class="e1_7">Olivia J. Berry</span><span class="e2_2">Olivia J. Berry</span>
  </div>
</body>

</html>